@import "../../_base.scss";

.sidebarr {
   position: -webkit-sticky;

   // position: fixed;
   top: 10vh;
   // z-index: 999;
//    background: "#CBCACA";
    background-color: #054C92;
    color: #BDE5E7;

   display: flex;
   flex-direction: column;

   width: 250px;
   height: 670px;
   padding-top: 2rem;
   transition: transform 0.2s ease-in;
   li {
      display: flex;
      align-items: center;
        // margin-top: 23px;
      padding: 0.6rem 1.5rem;
      margin: 0.2rem 0;
      cursor: pointer;

      span {
         margin-left: 1rem;
         font-size: 14px;
         font-weight: 500;
         letter-spacing: 0.4px;
      }

      &:hover {
         background-color: $border-color;
      }
   }

   hr {
      background-color: $border-color;
   }

   &.open {
    //    display: block;
      transform: translateX(0);
   }
}

@media (max-width: $breakpoint-medium) {
   .sidebarr {
      width: 90px;
      li {
         justify-content: center;
      }
      span {
         display: none;
      }
   }
}
@media (max-width: $breakpoint-small) {
   .sidebarr {
      transform: translateX(-100%);

      position: fixed;
      z-index: 999;
   }
}