@import "../../_base.scss";
.userCoverPic{
    
    margin-top: 9px;
    width: 100%;
    height: 180px;
}
.TabArea{
    width: 100%;
    background-color:$black-secondery;
    // color: rgb(211, 213, 214);
}